.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    .grid-item{
        border:1px solid black;
        margin: 2px;
        text-align: center;
        border-radius: 9px;
        &:hover
        {
            cursor: pointer;
            background-color: paleturquoise;
            font-weight: bold;
        }
    }
}